.logo-Horizontal-BW-FIN-SWE { background-image: url('png/Horizontal-BW-FIN-SWE.png'); background-repeat: no-repeat; }

.logo-Horizontal-FIN { background-image: url('png/Horizontal-FIN.png'); background-repeat: no-repeat; }

.logo-Horizontal-SWE { background-image: url('png/Horizontal-SWE.png'); background-repeat: no-repeat; }

.logo-Symbol-BW-FIN { background-image: url('png/Symbol-BW-FIN.png'); background-repeat: no-repeat; }

.logo-Symbol-BW-SWE { background-image: url('png/Symbol-BW-SWE.png'); background-repeat: no-repeat; }

.logo-Symbol-FIN { background-image: url('png/Symbol-FIN.png'); background-repeat: no-repeat; }

.logo-Symbol-SWE { background-image: url('png/Symbol-SWE.png'); background-repeat: no-repeat; }

.logo-Vertical-FIN { background-image: url('png/Vertical-FIN.png'); background-repeat: no-repeat; }

.logo-Vertical-SWE { background-image: url('png/Vertical-SWE.png'); background-repeat: no-repeat; }

